.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.93)
    ),
    url(../img/hero.jpeg);
  background-size: cover;
  // 图片居中
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  display: grid;
  // 需要重点理解，根据每行的需求来设定不同的高度
  // 1fr自动占据剩余的空间，适合用来和其他行产生距离
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  // 根据内容缩小列宽
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  justify-content: center;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 5rem;
  }

  &__logo {
    height: 3rem;
    justify-self: center;
  }

  &__btn {
    align-self: start;
    justify-self: start;
  }

  &__seenon-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;

    font-size: 1.6rem;
    color: $color-grey-light-2;

    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      // 继承父元素的color属性
      background-color: currentColor;
    }
  }

  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
    align-items: center;

    img {
      // 为了图片自适应定义max属性
      max-height: 2.5rem;
      max-width: 100%;
      // 降低亮度
      filter: brightness(70%);
    }
  }
}
